<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length<=0) {%> 
            <h1>Nothing there!</h1>
            <% }else{ %> 
                <ul>
                    <% orders.forEach((ord)=>{ %>   
                        
                        <li>
                            <h1><%= ord._id%> </h1>
                            <ul> 
                                <% ord.items.forEach((prod) => { %>
                                    <li>
                                        <%= prod.title %> 
                                    </li>
                                    <li>
                                        <%= prod.quantity %> 
                                    </li>
                               <% }) %> 
                            </ul>
                        </li>
                        
                    <% }) %> 
                </ul>
                <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>