<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length<=0) {%> 
            <h1>Nothing there!</h1>
            <% }else{ %> 
                <ul class="orders">
                    <% orders.forEach((ord)=>{ %>   
                        
                        <li class="orders__item">
                            <h1>OrderId:  <%= ord._id%> </h1>
                            <ul class="orders__products"> 
                                <% ord.products.forEach((prod) => { %>
                                    <li class="orders__products-item">
                                        <%= prod.productId.title %> 
                                    </li>
                                    <li>
                                      Quantity :<%= prod.quantity %> 
                                    </li>
                                    <li>
                                      Total Amount : $<%= ord.total %>
                                    </li>
                               <% }) %> 
                            </ul>
                        </li>
                        
                    <% }) %> 
                </ul>
                <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>